# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.keystore
*.mdb
sysinfo.txt
*.db
*.DS_Store

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini
